body {
	background: #E8E8E8;
}
.navigation-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 36px auto 0 auto;
	width: 80%;
	background: #E8E8E8;
	border-radius: 10px;
	padding: 10px 16px;
	box-shadow: 0 10px 40px rgba(17, 17, 17, 0.15);
}

.navigation-bar .logo {
	width: 124px;
	height: 16px;
}

.navigation-bar .logo, .navigation-bar .navigation-link {
	display: flex
}

.navigation-link {
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
}

.navigation-link ul {
	display: flex;
	justify-content: space-between;
	gap: 45px;
}

.navigation-link ul li {
	list-style: none;
}

.navigation-link ul li .active {
	color: #800000;
}

.navigation-link ul li a {
	color: #111111;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	text-decoration: none;
}



.house{
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px auto 0 auto;
	gap: 40px;
}

.house .card{
    background: #E8E8E8;
	border-radius: 10px;
	padding: 10px 16px;
	box-shadow: 0 10px 40px rgba(17, 17, 17, 0.15);
	width: 346px;
	height: 455px;
}

.house .card a img{
    width: 306px;
	height: 306px;
	margin: 20px;
    border-radius: 10px;
}
.house .card .titile,.subtitle{
    text-align: center;
    margin-top: 5px;
}
.house_2{
    display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px auto 0 auto;
	gap: 40px;
}

.house_2 .card{
    background: #E8E8E8;
	border-radius: 10px;
	padding: 10px 16px;
	box-shadow: 0 10px 40px rgba(17, 17, 17, 0.15);
	width: 346px;
	height: 455px;
}

.house_2 .card a img{
    width: 306px;
	height: 306px;
	margin: 20px;
    border-radius: 10px;
}
.house_2 .card .titile,.subtitle{
    text-align: center;
    margin-top: -5px;
}